.main_body{
    background-image: url('./downloaded-image-2.avif') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    align-items: left;
    text-align: left;
    padding: 50px;   
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
    position: relative;
    }

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; 
    font-weight: 900; 
    text-transform: uppercase; 
    color: white; 
    line-height: 1.2; 
    letter-spacing: 2px; 
    text-align: justify;
    padding: 50px;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
}
.title_description{
    display: inline; 
    white-space: nowrap;
    font-size: 20px;
}
.button {
    display: inline-block;
    margin: 0px;
    padding: 15px 30px;
    background-color: #130c38;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border:none;
    text-decoration: none;
    outline: none;
    box-sizing:content-box;
    transition: background 0.3s ease;

}
button{
    background: none;
    border: 5px;
    border-style: groove;
    border-color: #241b52;
    border-radius: 20px;
}

button:hover {
    background: #130c38; 
}
